@import '@/styles/_global.scss';

.card {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: flex;
    border-radius: 20px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    width: 35%;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.jobDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
