@import '@/styles/_global.scss';

.button {
  box-sizing: border-box;
  flex-shrink: 0;
  height: 44px;
  padding: 12px 14px;
  width: 320px;

  @media only screen and (min-width: 1024px) {
    width: 420px;
  }
}

.auxButton {
  max-width: min-content;
}

.contained {
  background-color: $primary-color;
  color: $white;
}

.text {
  background-color: none;
  color: $primary-color;
  max-width: min-content;
}

.outlined {
  background-color: none;
  color: $primary-color;
  border: 1px solid $primary-color;
}