@import '@/styles/_global.scss';

#cardRoot {
  @media only screen and (max-width: 768px) {
    box-shadow: none;
  }
}

.card {
  border-radius: 20px;
  width: 100%;

  @media only screen and (min-width: 1024px) {
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.10);
    width: 65%;
  }
}

.cardContent {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  padding: 16px;
  gap: 16px;

  @media only screen and (min-width: 1024px) {
    background-color: $white;
    border-radius: 20px;
  }
}

.cardCandidate {
  align-items: center;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.10);
  border-radius: 20px;
  padding: 16px;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (min-width: 1024px) {
    box-shadow: none;
  }
}

.cardCandidate:hover {
  cursor: pointer;
  transform: scale(1.01);
  opacity: 0.7;
}

.cardHighlight {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.profilePicture {
  border-radius: 100%;
}

.highlightContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  
  @media only screen and (min-width: 768px) {
    justify-content: center;
  }
}

.skillsContent {
  display: none;

  @media only screen and (min-width: 768px) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    width: 220px;
  }
}

.dividerContainer {
  display: none;

  @media only screen and (min-width: 1024px) {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.dividerContainer:last-child {
  display: none;
}

.divider {
  display: none;
  
  @media only screen and (min-width: 1024px) {
    align-self: center;
    width: 70%;
  }
}