@import '@/styles/_global.scss';

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding: 16px;
  width: 100%;
  
  
  @media only screen and (min-width: 768px) {
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    height: 80%;
    width: 60%;
  }
}

.profilePicture {
  border-radius: 100%;
}

.highlightContent {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.job {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding-top: 16px;
  width: 320px;
  
  @media only screen and (min-width: 1024px) {
    text-align: left;
    justify-content: flex-start;
    width: 420px;
  }
}

.skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
  width: 320px;
  
  @media only screen and (min-width: 1024px) {
    justify-content: flex-start;
    text-align: left;
    width: 420px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  padding-top: 32px;
  width: 320px;

  @media only screen and (min-width: 1024px) {
    width: 420px;
  }
}