@import '@/styles/_global.scss';

.main {
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.formLogin {
  align-items: center;
  flex-direction: column;
  gap: 32px;
  justify-content: center;

  @media only screen and (min-width: 768px) {
    border-radius: 20px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.10);
    height: 70%;
    position: fixed;
    width: 60%;
  }
}

.icon {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: block;
    color: $primary-color;
    font-size: 120px; 
    top: -16%;
    position: absolute;
  }
}