@import '@/styles/_global.scss';

.main {
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.errorContainer {
  width: 320px;

  @media only screen and (min-width: 1024px) {
    width: 420px;
  }
}

.formLogin {
  align-items: center;
  flex-direction: column;
  gap: 32px;
  justify-content: center;

  @media only screen and (min-width: 1024px) and (min-height: 600px) {
    border-radius: 20px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.1);
    height: 80%;
    position: fixed;
    padding: 16px;
    width: 60%;
  }
}

.icon {
  display: none;

  @media only screen and (min-width: 1024px) {
    display: block;
    color: $primary-color;
    font-size: 120px;
  }
}
