@import '@/styles/_global.scss';

.stack {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 44px;
  width: 320px;
  
  @media only screen and (min-width: 768px) {
    width: 420px;
  }
}

.auxSearch {
  flex: 1;
  width: auto;
}

.input {
  width: 90%;
}

.iconButton {
  padding: 0;
}

.icon {
  color: $white;
  border-radius: 100%;
  background-color: $primary-color;
  padding: 4px;
}